---
layout: default
title: Blog
---

{% assign posts_count = site.posts | size %}

<h1>My latest thoughts</h1>

<p style="color: #000">
  <!-- TODO maybe some more summary stats e.g. by topic/tag -->
  Explore the {{ site.posts.size }} posts I've written on this site.
</p>

<div class="home">
  <div class="posts">
    {% for post in site.posts %}
    <div class="post py3">
      <p class="post-meta">
        <span>{{ post.date | date: site.date_format }}</span>
      </p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"
        ><h3 class="h2 post-title">{{ post.title }}</h3></a
      >
      <p class="post-summary">
        {% if post.summary %} {{ post.summary }} {% else %} {{ post.excerpt }}
        {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
