<div class="share-page">
  <div class="share-links">
    {% if site.share_twitter %}
    <div class="circle-share share-twitter">
      <a
        class="fa fa-twitter fa-2x"
        href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}"
        rel="nofollow"
        target="_blank"
        title="{{ site.text.share_buttons.twitter }}"
      ></a>
    </div>
    {% endif %} {% if site.share_linkedin %}
    <div class="circle-share">
      <a
        class="fa fa-linkedin fa-2x"
        href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}"
        rel="nofollow"
        target="_blank"
        title="{{ site.text.share_buttons.linkedin }}"
      ></a>
    </div>
    {% endif %}
  </div>
</div>

<style>
  @media screen and (min-width: 770px) {
    .clients .circle-share {
      margin-bottom: 50px;
    }
  }

  .share-page {
    margin-top: 8%;
    margin-bottom: 1%;
  }

  .share-links {
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .circle-share {
    width: 80px;
    height: 80px;
    background: #000;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
  }

  .circle-share {
    cursor: pointer;
  }

  .circle-share {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
  }

  .circle-share a {
    width: 53%;
    display: block;
    margin: 0 auto;
    padding-top: 21px;
    text-decoration: none;
    text-shadow: none;
    color: white;
  }

  .share-facebook a {
    width: 39%;
  }
  .share-reddit a {
    width: 60%;
  }
  .share-google a {
    width: 73%;
  }
</style>
